.edit-link {
    color: #FFF !important;
}

.edit-icon {
    width: 20px;
    fill: #FFF;
}

.edit-button {
    :hover {
        fill: #e62429 !important;
    }
}

.profile-name {
    border: none;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
}