.marvel-logo {
    max-width: 140px;
    display:block;
    margin: 0 auto;
}

.profile-drop { 
    background-color: transparent;
}

.menu-back {
    background-color: black !important;
}

.navbar-collapse .margin-nav a{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white !important;
}


.margin-nav {
    margin: 0 auto !important;
}

.btn-secondary {
    background-color: black !important;
    border-color: black !important;
}

.dropdown-menu-align-responsive-1 a{
    color: black !important; 
}