
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  color: white !important;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(assets/marvel-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

h1,
h2,
p,
ul,
li,
a,
.row {
  font-family: "Roboto Condensed", sans-serif;
}

.submit {
  cursor: pointer;
  border-radius: 0px 0px 20px 0px;
  color: #fff !important;
  background: linear-gradient(to right, #f33f45, #e62429);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
} 

.cancel {
  cursor: pointer;
  border-radius: 0px 0px 20px 0px;
  color: #fff !important;
  background: linear-gradient(to right, #8a8a8a, #3a3a3a);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.content {
  padding: 20px;
  align-items: center;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}
